@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: 'Inter', sans-serif;
  font: -32px;
  color:hsl(240, 18%, 77%)
}

.swiper-slide {
  transition: transform 0.3s ease;
} 
